<!DOCTYPE html>
<html>
  <head>
    <title>EasyReadJP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet"> 
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-paper-plane"></i>
            EasyReadJP
        <% end %>
      </div>
    </nav>
    
    
    <%= yield %>
  </body>
</html>